Repository fuchicorp/jenkins-global-library, pull requests merged in 2020-06, with the labels that each got.

#36 Implementing timestamps
  src/com/lib/JenkinsCommonDeployPipeline.groovy
  src/com/lib/JenkinsCommonDockerBuildPipeline.groovy
Labels: Dev Feature, Jenkins

#37 Feature/domain name
  src/com/lib/JenkinsCommonDockerBuildPipeline.groovy
Labels: Groovy, Jenkins, Terraform

#39 Feature/tags
  src/com/lib/JenkinsCommonDeployPipeline.groovy
  src/com/lib/JenkinsCommonDockerBuildPipeline.groovy
  src/com/lib/scripts/workWithTags.groovy
Labels: DevOps Feature

#40 Updating README for Jenkins Global Library
  README.md
Labels: DevOps Documentation

#41 Added some comments and ready to test
  src/com/lib/CommonFunction.groovy
  src/com/lib/JenkinsCommonDeployPipeline.groovy
  src/com/lib/JenkinsCommonDockerBuildPipeline.groovy
  src/com/lib/scripts/findDockerImages.groovy
Labels: DevOps Feature, Jenkins
